{% extends 'base.html' %}


{% block content %}
<div class="row">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
    {% include 'dashboard/sidebar.html' %}


    <!-- Right side content -->
    <div class="col-md-9">
        <h2>All Posts</h2>
        <a href="{% url 'add_post' %}" class="btn btn-dark text-light float-right mb-2 ">Add New</a>
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Featured</th>
                    <th>Views</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.Category}}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.status }}</td>
                    <td>{{ post.is_featured }}</td>
                    <td>{{ post.views }}</td>
                    <td>
                        <a href="{% url 'edit_post' post.id %}" title="Edit"><i class="fa fa-edit text-success"></i></a>
                        &nbsp;
                        <form action="{% url 'delete_post' post.id %}" method="POST" class="d-inline"
                            onsubmit="return confirm('Delete this post permanently?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link p-0" title="Delete"><i class="fa fa-trash text-danger"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>

    </div>
</div>



{% endblock %}
